@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #F1F5F9;
}

.cart {
    color: #44403C;
    width: 50%;
    margin: 140px auto 0;
    font-family: "Roboto Mono", monospace;
    color: #44403C;
}

.cart__link {
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

.cart__title {
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0;
}

.cart__order_wrapper {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.cart__order {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: solid 1px #eae9e7;
}

.cart__order_element,
.cart__total-price {
    align-self: center;
    font-size: 18px;
}

.cart__total {
    font-weight: bold;
    align-self: center;
    margin: 5px 0;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.cart__total_text {
    width: 140px;
}

.cart__wrapper {
    display: flex;
    justify-content: space-between !important;
    min-height: 50px !important;
    background-color: rgb(234, 179, 8);
    align-items: start !important;
    padding: 12px 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Roboto Mono", monospace;
    color: #44403C;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Roboto Mono", monospace;
    color: #44403C;
    align-items: center;
}

.cart__user {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto Mono", monospace;
    color: #44403C;
}

.cart__wrapper_total {
    margin: 20px 0;
}

.cart__btn_wrapper {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 20px 0 100px;
}

.cart__btn_clear {
    border: solid 2px #D6D3D1;
    border-radius: 10px;
    background-color: #F1F5F9;
    font-weight: 500;
    color: #6c6866;
}

.cart__btn_order {
    border-radius: 10px;
    font-weight: 500;

}

.cart__btn_clear:hover {
    color: black;
    background-color: #D6D3D1;
}

.cart__btn_order:hover {
    background-color: #FACC15;
}

.cart__btn_order:active {
    border: white solid 2px;
    background-color: rgb(245, 203, 77);
    outline: 3px solid rgb(245, 203, 77);
}

.cart__btn_clear:active {
    border: white solid 2px;
    background-color: #D6D3D1;
    outline: 3px solid #D6D3D1;
}

.cart__message {
    margin: 25px;
    font-weight: 500;
    text-align: center;
}

.cart__btn_counter {
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 38px;
}

.cart__btn_counter:hover {
    background-color: #FACC15;
}

.cart__btn_counter:active {
    border: white solid 2px;
    background-color: rgb(245, 203, 77);
    outline: 3px solid rgb(245, 203, 77);
}

.cart__btn_delete {
    border-radius: 10px;
    cursor: pointer;
    width: 90px;
    padding: 10px 20px;
}

.cart__btn_delete:hover {
    background-color: #FACC15;
}


.pizza__btn_delete:active {
    border: white solid 2px;
    background-color: rgb(245, 203, 77);
    outline: 3px solid rgb(245, 203, 77);
}


@media (max-width:1020px) {
    .cart {
        width: 70%;
    }
}

@media (max-width:770px) {
    .cart {
        width: 85%;
    }
}

@media (max-width:495px) {

    .cart__order {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .cart__title {
        text-align: center;
    }

    .cart__order_wrapper {
        margin: auto;
    }

    .cart__btn_wrapper {
        margin: 20px auto 100px;
        width: 320px;
        gap: 15px;
    }
}