@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #F1F5F9;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.logo {
  text-decoration: none;
  color: #44403C;
}

.error {
  text-align: center;
  color: rgb(234, 179, 8);
  font-size: 36px;
  line-height: 45px;
  width: 520px;
  margin: auto;
  padding-bottom: 80px;
}



button {
  font-family: "Roboto Mono", monospace;
  color: #1E293B;
  border: 0;
  padding: 16px 24px;
  background-color: rgb(234, 179, 8);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 170px;
  border-radius: 10px;
}

button:hover {
  background-color: #FACC15;
}

button:active {
  border: white solid 2px;
  background-color: rgb(245, 203, 77);
  outline: 3px solid rgb(245, 203, 77);
}

.menu__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(234, 179, 8);
  padding: 15px 20px;
  font-family: "Roboto Mono", monospace;
  color: #44403C;
  z-index: 2;
}

.wrapper__nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

}

.link__nav {
  text-decoration: none;
  color: #44403C;
  font-size: 24px;
}

.page__unfound {
  margin-top: 200px;
  color: #44403C;
  text-align: center;
}

.page__unfound_title {
  font-size: 34px;
}

.page__unfound_text {
  font-size: 24px;
  margin-top: 10px;
}

.page__unfound_link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #44403C;
}

.input__order {
  background-color: #FEF08A;
  font-style: italic;
  border: none;
  width: 256px;
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

.order-unfound__wrapper {
  color: #44403C;
  width: 50%;
  margin: 140px auto 0;
  font-family: "Roboto Mono", monospace;
  color: #44403C;
}

.order-unfound__title {
  text-align: center;
  color: rgb(234, 179, 8);
  font-size: 36px;
  margin-top: 40px;
}

.order-unfound__link {
  text-decoration: none;
  color: blue;
  font-size: 18px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

@media (max-width:470px) {
  .input__order {
    width: 150px;
  }
}